*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #001219;
}

#titulo{
    display: flex;
    justify-content: center;
    background: #001219;
    color: #e9d8a6;
    text-align: center;
    line-height: 100px;
    margin-top: 0px;
    border: 2px solid #e9d8a6;
}

#menu ul{
    display: flex;
    justify-content: center;
    background: #001219;
    border-bottom: 2px solid #e9d8a6;
}

#menu ul li{
    display: block;
    line-height: 50px;
    margin: 10px;
    

}

#menu ul li a{
    text-decoration: none;
    color: #d4a373;
}

#menu ul li a:hover{
    border-radius: 5px;
    color: black;
    background-color: #e9d8a6;
    padding: 7px;
    transition: 300ms;
    
}

#inscripcion {
    display: flex;
    justify-content: center;
    line-height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    color: #171717;
    border: 2px solid #ee9b00;
    background: #e6d6c2;
    font-size: 20px;
}

#textoHorario{
    text-align: center;
    margin-top: 30px;
    color: white;
}


#cajaGrandeInscripcion {
    display: flex;
    padding: 40px;
}

#primeraCajaInscripcion{
    width: calc(50% - 10px);
    text-align:center;
}

#segundaCajaInscripcion{
    width: calc(50% - 10px);
    text-align:center;
}

#primeraCajaInscripcion h2{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

#segundaCajaInscripcion h2{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.cajitaTexto{
    background: rgb(200, 200, 200);
    border-radius: 12px;
    width: 90%;
    height: 30px;
    color: black;
    text-align: center;
    margin-top: 3px;
    border: 2px solid #e9c968;
}

#boton{
    display: flex;
    justify-content: center;
}

#botoncito{
    background: #001219;
    color: white;
    padding: 10px;
    border-radius: 13px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px black;
    margin-bottom: 50px;
    margin-top: 10px;
    cursor:pointer;
}

#botoncito:hover{
    transition: 300ms;
    background-color: #e9d8a6;
    color: #001219;
    border-radius: 13px;
    border: 3px solid orange;
    box-shadow: 0px 0px 8px black;
    cursor:pointer;
}


footer #footer{
    display: flex;
    justify-content: space-between;
    background: #001219;
    padding: 50px;
    color: #adb5bd;
    border-top: 25px solid #e9d8a6;
}

#footer h2{
    color: white;
}

#footer div{
    margin-top: 30px;
}

#footer p{
    margin-top: 5px;
}

#redes-sociales a img{
    display: inline;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid white;
    background: #e9d8a6;
    width: 30px;
    height: 30px;
}

#redes-sociales a img:hover{
    transition: 300ms;
    background: white;
}

#cajita a{
    text-decoration: none;
    color: #adb5bd;
}

#cajita a:hover{
    color: white;
}