*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #001219;
}

#titulo{
    display: flex;
    justify-content: center;
    background: #001219;
    color: #e9d8a6;
    text-align: center;
    line-height: 100px;
    margin-top: 0px;
    border: 2px solid #e9d8a6;
}

#menu ul{
    display: flex;
    justify-content: center;
    background: #001219;
    border-bottom: 2px solid #e9d8a6;
}

#menu ul li{
    display: block;
    line-height: 50px;
    margin: 10px;
    

}

#menu ul li a{
    text-decoration: none;
    color: #d4a373;
}

#menu ul li a:hover{
    border-radius: 5px;
    color: black;
    background-color: #e9d8a6;
    padding: 7px;
    transition: 300ms;
    
}



#h2Nosotros{
    display: flex;
    justify-content: center;
    line-height: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #171717;
    border: 2px solid #ee9b00;
    background: #e6d6c2;
    font-size: 20px;
    margin-top: 3px;
}

#h2QuienSomos{
    display: flex;
    justify-content: center;
}

#h2QuienSomos h2{
    color: white;
    margin-top: 70px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}

#h2QuienSomos h2:hover{
    transition: 300ms;
    background-color: #e9d8a6;
    border: 2px solid orange;
    color: black;
}

#contenedor2Divs{
    display: flex;
    padding: 80px;
}

#primeraCaja p{
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
}

#segundaCaja p{
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
}

#contenedor2Divs #primeraCaja{
    width: calc(50% - 10px);

}

#contenedor2Divs #segundaCaja{
    width: calc(50% - 10px);
}

#imagenesNosotros img{
    width: 270px;
    height: 270px;
    border: 3px solid #ee9b00;
    border-radius: 10px;
}

#imagenesNosotros{
    display: flex;
    justify-content: space-around;
}

#abajoImagenes{
    display: flex;
    justify-content: space-around;
}

#abajoImagenes p{
    color: white;
    border: 3px solid white;
    padding: 40px;
    margin-bottom: 50px;
    margin-top: 10px;
}

#abajoImagenes p:hover{
    transition: 300ms;
    background-color: #e9d8a6;
    border: 3px solid orange;
    color: black;
}









footer #footer{
    display: flex;
    justify-content: space-between;
    background: #001219;
    padding: 50px;
    color: #adb5bd;
    border-top: 25px solid #e9d8a6;
}

#cajita a{
    text-decoration: none;
    color: #adb5bd;
}

#cajita a:hover{
    color: white;
}

#footer h2{
    color: white;
}

#footer div{
    margin-top: 30px;
}

#footer p{
    margin-top: 5px;
}

#redes-sociales a img{
    display: inline;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid white;
    background: #e9d8a6;
    width: 30px;
    height: 30px;
}

#redes-sociales a img:hover{
    transition: 300ms;
    background: white;
}